<div class="form-field">  
	<label for="term_meta[{{ name }}]">{{ label }}</label> 
	<input type="text" name="term_meta[{{ name }}]" class="{{ class }}" value="{{ value }}" />
	{% if not description is empty %}
		<p class="description">{{ description }}</p>
	{% endif %}
</div>