<tr class="form-field">
	<th scope="row" valign="top">
		<label for="term_meta[{{ name }}]">{{ label }}</label>
	</th>
	<td>
		<select name="term_meta[{{ name }}]" class="{{ class }}" {% if required|default(0) %}required="required"{% endif %}>
			{% if not placeholder|default('') is empty %}<option value="">{{ placeholder }}</option>{% endif %}
			{% if not options.options is empty %}
				{% for option_key, option_value in options.options %}
					<option {% if options.split|default(0) %}value="{{ option_key }}" {% if value|default(0) == option_key %}selected="selected"{% endif %} {% else %}{% if value|default(0) == option_value %}selected="selected"{% endif %}{% endif %}  %}>{{ option_value }}</option>
				{% endfor %}
			{%  endif %}
		</select>
		{% if not description is empty %}
			<p class="description">{{ description }}</p>
		{% endif %}
	</td>
</tr>
